/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* color variables */
:root {
    --color-white: hsl(0, 0%, 100%);
    --color-light-gray: hsl(212, 45%, 89%);
    --color-grayish-blue: hsl(220, 15%, 55%);
    --color-dark-blue: hsl(218, 44%, 22%);
  }
  
  /* font family */
.font-400 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: auto;
  margin: auto;
  font-size: 15px;
  letter-spacing: 0.19px;
  line-height: 1px;
  color: var(--color-grayish-blue);
}

.font-700 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-wrap: wrap;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 1px;
  color: var(--color-dark-blue);
}


    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-grayish-blue);
      height: 667px;
      min-width: 375px;
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      background-color: var(--color-white);
      border-radius: 20px;
      margin: auto;
      width: 320px;
      height: 497px;
    }

    .qr-code {
      display: flex;
      margin-top: 16px;
      border-radius: 20px;
      height: 288px;
      width: 288px;
    }

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 24px 16px 40px;
      width: 288px;
      height: 129px;
    }

    .font-700 {
      align-self: flex-start;
      
    }